{% extends 'setLivreApp/base.html' %}

{% block content %}
<div class="container-fluid">

<div class="row">
    
    <div class="col-sm-12">   
    <div class="text-left">
        <h1>{{ artigo.titulo }}</h1>
        <p><span class="glyphicon glyphicon-pushpin"></span> Publicado por {{ artigo.autor }}</p>
        <p><span class="glyphicon glyphicon-calendar"></span> {{ artigo.data_publicacao }}</p>
    </div>
    {% if artigo.caminho_foto %}
    <div class="col-sm-10">
      <img class="img-rounded thumbnail" width="100%" height="100%" src="{{ artigo.caminho_foto }}">        
    </div>
    {% endif %}
    
    <div class="col-sm-12">
        <p>{{ artigo.conteudo | linebreaksbr }}</p>
    </div>
    </div>
</div>

</div>
<br>

{% endblock content %}