<div class="container-fluid text-center">

<div class="row">

</div>

<div class="row">
    <div class="col-sm-4">
      <h1>Entre em contato!</h1>
      <p><span class="glyphicon glyphicon-map-marker"></span>Belo Horizonte, MG</p>
      <p><span class="glyphicon glyphicon-envelope"></span>Email: setlivre@gmail.com</p>
    </div>
    
    <br>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="nome_contato" name="nome" placeholder="Nome" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email_contato" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comentario_contato" name="comentario" placeholder="Comentario" rows="5"></textarea>
      <br>
      <div class="row">
        <div class="col-md-12 form-group">
          <button class="btn" type="submit">Enviar</button>
        </div>
      </div>
    </div>
  </div>
</div>
