{% extends 'setLivreApp/base.html' %}

{% block content %}
<div class="container-fluid text-center">

<div class="row">

</div>

<div class="row">
    <div class="col-sm-12">
      <h1>Entre em contato!</h1>
      
      <p>
        <a href="#"> <i class="fa fa-facebook-square" style="font-size:25px; color: black"></i> </a>
        <a href="#"> <i class="fa fa-instagram" style="font-size:25px; color: black"></i> </a>
        <a href="#"> <i class="fa fa-twitter-square" style="font-size:25px; color: black"></i> </a>
        <a href="#"> <i class="fa fa-snapchat-square" style="font-size:25px; color: black"></i> </a>
        <a href="#"> <i class="fa fa-youtube-play" style="font-size:25px; color: black"></i> </a>
      </p>

      <p><span class="glyphicon glyphicon-map-marker"></span> Belo Horizonte, MG</p>
      <p><span class="glyphicon glyphicon-envelope"></span> Email: setlivre@gmail.com</p>
      <p></p>
    </div>
    
    <br>
    <br>
    <div class="col-sm-1"></div>
    
    <div class="col-sm-10">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="nome_contato" name="nome" placeholder="Nome" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email_contato" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="mensagem_contato" name="mensagem" placeholder="Mensagem" rows="5"></textarea>
      <br>
      <div class="row">
        <div class="col-md-12 form-group">
          <button class="btn btn-default" type="submit" >Enviar</button>
        </div>
      </div>
    </div>

    <div class="col-sm-1"></div>
  </div>
</div>

{% endblock content %}