 {% extends 'setLivreApp/base.html' %}
 
 {% block content %}
 <div class="text-center">
  <div class="container">
    <h1>{{ valores.projeto.nome }}</h1>      
    <p>{{ valores.projeto.descricao }}</p>
  </div>
</div>
<br>

<div class="container-fluid ">
<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#videos">Videos</a></li>
  <li><a data-toggle="tab" href="#artigos">Artigos</a></li>
</ul>

<div class="tab-content">
  <div id="videos" class="tab-pane fade in active">
    <h3>Videos</h3>
    <p>Lista de videos da playlist do canal</p>
    <p>Lista de videos da playlist do canal</p>
    <p>Lista de videos da playlist do canal</p>
    <p>Lista de videos da playlist do canal</p>
    <p>Lista de videos da playlist do canal</p>
    <p>Lista de videos da playlist do canal</p>
    <p>Lista de videos da playlist do canal</p>
    <p>Lista de videos da playlist do canal</p>
    <p>Lista de videos da playlist do canal</p>
    <p>Lista de videos da playlist do canal</p>
    <p>Lista de videos da playlist do canal</p>
  </div>

  <div id="artigos" class="tab-pane fade">
    <h3>Artigos</h3>
    {% for artigo in valores.artigos %}
        <h4><a href="{% url 'artigo' id=artigo.pk %}"> {{ artigo.titulo }}</a></h4>
    {% endfor %}

    <ul class="pagination">
      {% if valores.artigos.has_previous %}
        <li><a href="?pagina={{ valores.artigos.previous_page_number }}">Anterior</a></li>
      {% endif %}

      {% if valores.artigos.has_next %}
        <li><a href="?pagina={{ valores.artigos.next_page_number }}">Proxima</a></li>
      {% endif %}
    </ul>

  </div>
</div>    
</div><br><br>

{% endblock content %}