{% extends 'setLivreApp/base.html' %}

{% block content %}
<div class="text-center">
  <div class="container">
    <h1 >A Set Livre</h1>      
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
</div>
  
<div class="container-fluid bg-3 text-center">    
  <h3>Nossa Equipe</h3><br>
  <div class="row">
    {% for integrante in integrantes %}
    
    <div class="col-sm-3">
      <p style="font-weight: bold;"> <a href="{% url 'bio' id=integrante.pk %}"> {{ integrante.nome }} </a></p>
      <a href="{% url 'bio' id=integrante.pk %}">
        <img src="{{ integrante.caminho_foto }}" class="img-responsive" style="width:100%; height: 200px" alt="Image">
      </a>
      <br>
    </div>
    
    {% endfor %}
  </div>
</div><br><br>

{% endblock content %}